extend ../layout/admin
block head 
  block head 
    title Danh mục sản phẩm
  //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
block contend
  h3.mb-2.text-gray-800 Danh mục sản phẩm
    span=`(${categories.length})`
  a(href='/admin/category/add') Thêm danh mục sản phẩm
  // DataTales Example
  .card.shadow.mb-4.mt-3
    .card-body
      .table-responsive
        if(categories.length > 0)
          table#dataTable.table.table-bordered(width='100%', cellspacing='0')
            thead
              tr
                th(style="width:50px") #
                th(style="width:100px") Hình ảnh
                th(style="width:250px") Tên DM
                th(style="width:300px") Mô tả
                th Thao tác
            tbody
              each category, index in categories
                tr
                  td= index+1
                  td.d-flex.justify-content-center
                    img(src=category.img max-width='60px' height='32px')
                  td= category.name 
                  td= category.desc
                  td(style='width:200px')
                    a.mr-4(href=`/admin/category/${category.slug}/detail`) Chi tiết
                    a.mr-4(href=`/admin/category/${category.slug}/edit`) Sửa
                    a.mr-4(data-toggle='modal', data-target='#exampleModal' href='' data-id=category._id) Xóa
        else 
          p Hiện tại chưa có danh mục nào
          a(href='/admin/category/add') Nhấn vào đây để thêm danh mục sản phẩm


  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button#btn-delete.btn.btn-primary(type='button') Save changes




  form#form-delete(method='POST' action='/admin')

  


block script
  script(type='text/javascript').
    document.addEventListener('DOMContentLoaded', function() {
      let id 
      const formDelete = document.getElementById('form-delete')
      const btnDelete = document.getElementById('btn-delete')

      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        id = button.data('id') // Extract info from data-* attributes
      })
      
      btnDelete.addEventListener('click', () => {
        formDelete.action = `/admin/category/${id}?_method=DELETE`;
        formDelete.submit();
        //- console.log(formDelete.action)
      })


      if(message) 
        alert(message)

    })



                  