doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==', crossorigin='anonymous', referrerpolicy='no-referrer')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/user/asset/css/grid-system.css')
  link(rel='stylesheet', href='/user/asset/css/base.css')
  link(rel='stylesheet', href='/user/asset/css/main.css')
  link(rel='stylesheet', href='/user/asset/css/responsive.css')
  block head
  title NKShop
.app
  header.header
    .grid.wide
      nav.header-navbar.hide-on-tb-mb
        ul.header-navbar-list
          li.header-navbar-item
            span V&agrave;o c&#x1EED;a h&agrave;ng tr&ecirc;n &#x1EE9;ng d&#x1EE5;ng
            .down
              img.down__qr(src='/user/asset/img/qr.png', alt='')
              .down__app
                img.down__app-img(src='/user/asset/img/ggp.png', alt='')
                img.down__app-img(src='/user/asset/img/ap.png', alt='')
          li.header-navbar-item
            span K&#x1EBF;t n&#x1ED1;i
            a.header-navbar-item__link(href='')
              i.header-navbar-item__icon.fab.fa-facebook
            a.header-navbar-item__link(href='')
              i.header-navbar-item__icon.fab.fa-instagram
        ul.header-navbar-list
          li.header-navbar-item
            a.header-navbar-item__link(href='')
              i.header-navbar-item__icon.far.fa-bell
              span Th&ocirc;ng b&aacute;o
            .header-notify
              header.header-notify-header
                h4 Th&ocirc;ng b&aacute;o m&#x1EDB;i nh&#x1EAD;n
              ul.header-notify-list
                li.header-notify-item
                  a.header-notify-item__link(href='')
                    img.header-notify-item__img(src='/user/asset/img/p2.jfif', alt='')
                    .header-notify-item__info
                      h5.header-notify-item__name
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng
                      p.header-notify-item__desc
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng ng&agrave;y mua h&agrave;ng v&agrave; ng&agrave;y giao h&agrave;ng
                li.header-notify-item.header-notify-item--seen
                  a.header-notify-item__link(href='')
                    img.header-notify-item__img(src='/user/asset/img/p5.jfif', alt='')
                    .header-notify-item__info
                      h5.header-notify-item__name
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng
                      p.header-notify-item__desc
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng ng&agrave;y mua h&agrave;ng v&agrave; ng&agrave;y giao h&agrave;ng
                
                li.header-notify-item
                  a.header-notify-item__link(href='')
                    img.header-notify-item__img(src='/user/asset/img/p9.jfif', alt='')
                    .header-notify-item__info
                      h5.header-notify-item__name
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng
                      p.header-notify-item__desc
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng ng&agrave;y mua h&agrave;ng v&agrave; ng&agrave;y giao h&agrave;ng
                li.header-notify-item
                  a.header-notify-item__link(href='')
                    img.header-notify-item__img(src='/user/asset/img/p11.jfif', alt='')
                    .header-notify-item__info
                      h5.header-notify-item__name
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng
                      p.header-notify-item__desc
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng ng&agrave;y mua h&agrave;ng v&agrave; ng&agrave;y giao h&agrave;ng
                li.header-notify-item.header-notify-item--seen
                  a.header-notify-item__link(href='')
                    img.header-notify-item__img(src='/user/asset/img/p8.jfif', alt='')
                    .header-notify-item__info
                      h5.header-notify-item__name
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng
                      p.header-notify-item__desc
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng ng&agrave;y mua h&agrave;ng v&agrave; ng&agrave;y giao h&agrave;ng
                li.header-notify-item
                  a.header-notify-item__link(href='')
                    img.header-notify-item__img(src='/user/asset/img/p11.jfif', alt='')
                    .header-notify-item__info
                      h5.header-notify-item__name
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng
                      p.header-notify-item__desc
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng ng&agrave;y mua h&agrave;ng v&agrave; ng&agrave;y giao h&agrave;ng
                li.header-notify-item
                  a.header-notify-item__link(href='')
                    img.header-notify-item__img(src='/user/asset/img/p12.jfif', alt='')
                    .header-notify-item__info
                      h5.header-notify-item__name
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng
                      p.header-notify-item__desc
                        | X&aacute;c th&#x1EF1;c mua h&agrave;ng &aacute;o kho&aacute;c ch&iacute;nh
                        | h&atilde;ng ng&agrave;y mua h&agrave;ng v&agrave; ng&agrave;y giao h&agrave;ng
              
              footer.header-notify-footer
                a.header-notify-header__btn(href='') Xem t&#x1EA5;t c&#x1EA3;
          li.header-navbar-item
            a.header-navbar-item__link(href='')
              i.header-navbar-item__icon.far.fa-question-circle
              span Tr&#x1EE3; gi&uacute;p
          if userCurrent
            li.header-navbar-item
              img.header-navbar-item__img(src='/user/asset/img/avatar.jpg')
              span= userCurrent.name
              .header-user
                ul.header-user-list
                  li.header-user-item 
                    a.header-user-link(href='/user/user') T&agrave;i kho&#x1EA3;n c&#x1EE7;a t&ocirc;i
                  li.header-user-item 
                    a.header-user-link(href='/user/user') Đổi mật khẩu
                  li.header-user-item 
                    a.header-user-link(href='/order') &Dstrok;&#x1A1;n mua
                  li.header-user-item 
                    a.header-user-link(href='/user/logout') Đăng xuất

          else 
            li.header-navbar-item
              a.header-navbar-item__link(href='/user/login') 
                span Đăng nhập
            li.header-navbar-item
              a.header-navbar-item__link(href='/user/register') 
                span Đăng kí
      .header-with-search
        .header-mb-control.hide-on-pc-tb
          label.header-mb-bar__label(for='header-mb-bars__checkbox')
            i.header-mb-icon.fas.fa-bars
          label.header-mb-search__label(for='header-mb-search__checkbox')
            i.header-mb-icon.fas.fa-search
        a.header-logo.hide-on-tb(href='/')
          img.header-logo__img(src='/user/asset/img/logo-shop.png', alt='')
          h1.header-logo__title NKShop
        
        .header-search.hide-on-mb
          .header-search__input-wrap
            form(action="/search") 
              input.header-search__input(type='text', placeholder='Search...' name="q")
              button(type='submit' style='display:none')
            .header-search__history
              h5.header-search__history-title L&#x1ECB;ch s&#x1EED; t&igrave;m ki&#x1EBF;m
              ul.header-search__history-list
                li.header-search__history-item V&aacute;y ch&#x1ED1;ng n&#x1EAF;ng
                li.header-search__history-item M&#x1EB7;t n&#x1EA1; ph&ograve;ng &dstrok;&#x1ED9;c
                li.header-search__history-item B&igrave;nh x&#x1ECB;t c&ocirc;n tr&ugrave;ng
          .header-search__select
            span Trong shop
            i.header-search__select-icon.fas.fa-angle-down
            ul.header-search__select-option
              li.header-search__select-option-item.header-search__select-option-item--active
                span Trong Shop
                i.header-search__select-option-item-icon.fas.fa-check
              li.header-search__select-option-item
                span Ngoai Shop
                i.header-search__select-option-item-icon.fas.fa-check
          .header-search__btn
            i.header-search__btn-icon.fas.fa-search
        
        .header-cart
          label.header-cart__wrap(for='header-cart__checkbox')
            a(href="/cart") 
              i.header-cart__icon.fas.fa-shopping-cart
              span.header-cart__quality= userCurrent? userCurrent.carts.length : '0'
          input#header-cart__checkbox.header-cart__input(type='checkbox', hidden='')
          .header-cart__container
              header.header-cart__header
                | S&#x1EA3;n ph&#x1EA9;m &dstrok;&atilde; th&ecirc;m
              if (userCurrent && userCurrent.carts.length > 0)
                ul.header-cart__list
                  each item in userCurrent.carts
                    
                    li.header-cart__item
                      a.header-cart__item-link(href="/" + item.slug)
                        img.header-cart__item-img(src= item.img, alt='')
                        .header-cart__item-info
                          .header-cart__item-header
                            h5.header-cart__item-name= item.name
                          .header-cart__item-body
                            .header-cart__item-price-wrap
                              span.header-cart__item-price= item.price.toLocaleString() + 'đ'
                              span.header-cart__item-multipli x
                              span.header-cart__item-quality=item.quantity
                  
              footer.header-cart__footer
                a.btn--primary.header-cart__footer-btn(href='/cart')
                  | Xem gi&#x1ECF; h&agrave;ng
          

      // header mobile bars
      .header-mb-bars__wrap
        input#header-mb-bars__checkbox.header-mb-bar__input(type='checkbox', hidden='')
        .header-mb-bars
          label.header-mb-bars__close(for='header-mb-bars__checkbox')
            | X
          ul.header-mb-bars__list
            li.header-mn-bars__item
              a.header-mn-bars__item-link(href='') &Dstrok;&abreve;ng nh&#x1EAD;p
            li.header-mn-bars__item
              a.header-mn-bars__item-link(href='') &Dstrok;&abreve;ng xu&#x1EA5;t
            li.header-mn-bars__item
              a.header-mn-bars__item-link(href='') &Dstrok;&#x1ED5;i m&#x1EAD;t kh&#x1EA9;u
        label.header-mb-bars__overlay(for='header-mb-bars__checkbox')
      // header mb search
      .header-mb-search__wrap
        input#header-mb-search__checkbox.header-mb-search__input(type='checkbox', hidden='')
        .header-search.header-search-mb
          .header-search__input-wrap
            input.header-search__input(type='text', placeholder='Search...')
            .header-search__history
              h5.header-search__history-title L&#x1ECB;ch s&#x1EED; t&igrave;m ki&#x1EBF;m
              ul.header-search__history-list
                li.header-search__history-item V&aacute;y ch&#x1ED1;ng n&#x1EAF;ng
                li.header-search__history-item M&#x1EB7;t n&#x1EA1; ph&ograve;ng &dstrok;&#x1ED9;c
                li.header-search__history-item B&igrave;nh x&#x1ECB;t c&ocirc;n tr&ugrave;ng
          .header-search__select
            span Trong shop
            i.header-search__select-icon.fas.fa-angle-down
            ul.header-search__select-option
              li.header-search__select-option-item.header-search__select-option-item--active
                span Trong Shop
                i.header-search__select-option-item-icon.fas.fa-check
              li.header-search__select-option-item
                span Ngoai Shop
                i.header-search__select-option-item-icon.fas.fa-check
          .header-search__btn
            i.header-search__btn-icon.fas.fa-search
  .container
    block container
  if message 
    .message 
      .message-modal 
      .message-content 
        i.message-icon.fas.fa-check
        p.message-text= message
  footer.footer
    .footer-content
      .grid.wide
        .row
          .col.l-2-4.m-4.c-6
            .footer-item
              h3.footer-item__header ch&abreve;m s&oacute;c kh&aacute;ch h&agrave;ng
              .footer-list
                a.footer-item__link(href='') Trung t&acirc;m tr&#x1EE3; gi&uacute;p
                a.footer-item__link(href='') NKShop Mall 
                a.footer-item__link(href='') H&#x1B0;&#x1EDB;ng d&#x1EAB;n mua h&agrave;ng
          .col.l-2-4.m-4.c-6
            .footer-item
              h3.footer-item__header V&#x1EC0; NKShop
              .footer-list
                a.footer-item__link(href='') Gi&#x1EDB;i thi&#x1EC7;u
                a.footer-item__link(href='') Tuy&#x1EC3;n d&#x1EE5;ng
                a.footer-item__link(href='') &Dstrok;i&#x1EC1;u kho&#x1EA3;n
          .col.l-2-4.m-4.c-6
            .footer-item
              h3.footer-item__header DANH M&#x1EE4;C
              .footer-list
                a.footer-item__link(href='') Trang điểm mặt
                a.footer-item__link(href='') Son môi
                a.footer-item__link(href='') Dưỡng da
          .col.l-2-4.m-4.c-6
            .footer-item
              h3.footer-item__header THEO D&Otilde;I CH&Uacute;NG T&Ocirc;I
              .footer-list
                a.footer-item__link(href='')
                  i.footer-item__icon.fab.fa-facebook
                  |                                         Facebook
                a.footer-item__link(href='')
                  i.footer-item__icon.fab.fa-instagram-square
                  |                                         Instagram
                a.footer-item__link(href='')
                  i.footer-item__icon.fab.fa-linkedin
                  |                                         Linkedin
          .col.l-2-4.m-8.c-12
            .footer-item
              h3.footer-item__header V&Agrave;O C&#x1EEC;A H&Agrave;NG TR&Ecirc;N &#x1EE8;NG D&#x1EE4;NG
              .footer-down
                .footer-dow-qr
                  img(src='/user/asset/img/qr.png', alt='')
                .footer-down-apps
                  img(src='/user/asset/img/ggp.png', alt='')
                  img(src='/user/asset/img/ap.png', alt='')
    .footer-bottom
      .grid.wide
        .footer-policy-list
          a.footer-policy-link(href='') CH&Iacute;NH S&Aacute;CH B&#x1EA2;O M&#x1EAC;T
          a.footer-policy-link(href='') QUY CH&#x1EBE; HO&#x1EA0;T &Dstrok;&#x1ED8;NG
          a.footer-policy-link(href='') CH&Iacute;NH S&Aacute;CH V&#x1EAC;N CHUY&#x1EC2;N
          a.footer-policy-link(href='') CH&Iacute;NH S&Aacute;CH TR&#x1EA2; H&Agrave;NG V&Agrave; HO&Agrave;N TI&#x1EC0;N
        .footer-policy-img
          img(src='/user/asset/img/footer-policy.png', alt='')
          img(src='/user/asset/img/footer-policy.png', alt='')
          img(src='/user/asset/img/footer-policy.png', alt='')
        .footer-bottom-info
          .footer-company-name C&ocirc;ng ty NKShop
          p.footer-text &Dstrok;&#x1ECB;a ch&#x1EC9;: Ninh Ki&#x1EC1;u - C&#x1EA7;n Th&#x1A1; - Email: cskh@hotro.NKShop.vn
          p.footer-text
            | Ch&#x1ECB;u Tr&aacute;ch Nhi&#x1EC7;m Qu&#x1EA3;n L&yacute; N&#x1ED9;i Dung: Trần Anh Khoa - &Dstrok;i&#x1EC7;n tho&#x1EA1;i li&ecirc;n
            | h&#x1EC7;: 037 2999 999 (ext 9999)
          p.footer-text
            | &copy; 2021 - B&#x1EA3;n quy&#x1EC1;n thu&#x1ED9;c v&#x1EC1;  
            a.footer-copyright(href='anhkhoacttv@gmail.com')

  script(src='/user/asset/js/index.js')
  block script
